@font-face {
  font-family: poppins;
  src: url("/fonts/Poppins-Regular.ttf");
}
.header__floatingCard {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  z-index: 1005;
  width: 300px;
  max-width: 300px;
  background-color: #fff;
  min-height: 200px;
  max-height: 420px;
  border-radius: 1rem;
  transform: translateY(4rem);
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
.header__floatingCard.active {
  display: flex;
}
.header__floatingCard .card__footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  border-top: solid var(--color-grey) 1px;
  cursor: pointer;
}
.header__floatingCard.small {
  min-height: unset;
  width: unset;
}

.notifications {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.notifications .item {
  margin-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--color-grey);
  --icon-color: 189;
}
.notifications .item .left {
  width: 20%;
}
.notifications .item .left .item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 0.7rem;
  background-color: hwb(var(--icon-color) 85% 2%);
  color: hwb(var(--icon-color) 12% 23%);
}
.notifications .item .left .item__icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.notifications .item .left .item__icon span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.notifications .item .left .item__icon i {
  font-size: 1rem;
}
.notifications .item .right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.notifications .item .right .item__title {
  font-size: 0.9rem;
  font-weight: 500;
}
.notifications .item .right .item__time {
  font-weight: 300;
  font-size: 0.7rem;
}

.payments__timeline {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.payments__timeline .item {
  --item-color: 345;
}
.payments__timeline .item .item__box {
  position: relative;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-block: 0.5rem;
  margin-left: 3rem;
  border-left: solid hwb(var(--item-color) 16% 15%) 5px;
}
.payments__timeline .item .item__box::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: -0.8rem;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid hwb(var(--item-color) 16% 15%);
  transform: rotateZ(90deg);
}
.payments__timeline .item .item__box::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -1rem;
  left: -2.15rem;
  width: 0.25rem;
  background-color: var(--color-grey-1);
  transform: translateY(1rem);
}
.payments__timeline .item .item__box .item__circle {
  position: absolute;
  top: 0.6rem;
  left: -2.6rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payments__timeline .item .item__box .item__circle .circle__big {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid hwb(var(--item-color) 65% 5%);
  background-color: #fff;
}
.payments__timeline .item .item__box .item__circle .circle__big .circle__small {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: hwb(var(--item-color) 16% 15%);
}
.payments__timeline .item .item__box .item__time {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
  color: var(--color-grey-2);
}
.payments__timeline .item .item__box .item__title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.payments__timeline .item .item__box .item__title span {
  color: hwb(var(--item-color) 16% 15%);
  font-weight: 600;
}
.payments__timeline .item .item__box .item__des {
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--color-grey-2);
}
.payments__timeline :last-child .item__box::after {
  background-color: transparent;
}

.profile__iconMenu {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  width: 200px;
}
.profile__iconMenu .item {
  padding-inline: 1.5rem;
  padding-left: 2rem;
  padding-block: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  --item-color: blue;
}
.profile__iconMenu .item > * + * {
  margin-left: 0.5rem;
}
.profile__iconMenu .item svg {
  height: 1rem;
  width: auto;
  color: var(--item-color);
}
.profile__iconMenu .item .item__text {
  font-size: 0.9rem;
  color: var(--color-grey-2);
}
.profile__iconMenu .item:hover {
  background-color: var(--color-grey);
}/*# sourceMappingURL=header_menus.css.map */